pkgbase = fate-editor-bin
	pkgdesc = Text and code editor with tabs, split view, diffs and a live Markdown preview with KaTeX and Mermaid
	pkgver = 1.14.0
	pkgrel = 1
	url = https://github.com/VagueDustin/FATE
	arch = x86_64
	license = AGPL-3.0-only
	depends = alsa-lib
	depends = at-spi2-core
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libnotify
	depends = libsecret
	depends = libxss
	depends = libxtst
	depends = nss
	depends = util-linux-libs
	depends = xdg-utils
	optdepends = libappindicator-gtk3: tray icon support
	provides = fate-editor
	conflicts = fate-editor
	noextract = FATE-1.14.0-amd64.deb
	options = !strip
	options = !debug
	source = FATE-1.14.0-amd64.deb::https://github.com/VagueDustin/FATE/releases/download/v1.14.0/FATE-1.14.0-amd64.deb
	source = LICENSE-1.14.0::https://raw.githubusercontent.com/VagueDustin/FATE/v1.14.0/LICENSE
	sha256sums = 23d9fe33d9490a910723061c439c2e3ed92e5bd3340d94cf480972f8609b8dc3
	sha256sums = 0d96a4ff68ad6d4b6f1f30f713b18d5184912ba8dd389f86aa7710db079abcb0

pkgname = fate-editor-bin
